In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

 > # *race representation* ---

In [19]:
race = df.filter(items = ["race"])

race_data = [
    race[race == 'White'].count(),
    race[race == 'Black'].count(),
    race[race == 'Asian-Pac-Islander'].count(),
    race[race == 'Amer-Indian-Eskimo'].count(),
    race[race == 'Other'].count()
    ]

pd.DataFrame(race_data , index = ['White' , 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'])

                     race
White               27816
Black                3124
Asian-Pac-Islander   1039
Amer-Indian-Eskimo    311
Other                 271

> # *average age of men* ---

In [20]:
df[df['sex'] == 'Male']['age'].mean()

39.43354749885268

> # *Bachelor's degree* % ---

In [21]:
total_bachelors_degree = df[df['education'] == 'Bachelors']['education'].count()
total_data = df['education'].count()
percentage = (total_bachelors_degree / total_data) * 100
print(percentage)

16.44605509658794

> # *people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?*

In [22]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
high_edu_above_50k = df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')]

In [23]:
percentage_above_50k_high_edu = round((len(high_edu_above_50k)/len(higher_education)) * 100,1)
print(percentage_above_50k_high_edu)

46.5

> # *people without advanced education (Bachelors, Masters, or Doctorate) make more than 50K?*

In [24]:
lower_education =  df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
low_edu_above_50k = df[(~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary'] == '>50K')]

In [25]:
percentage_above_50k_low_edu = (len(low_edu_above_50k) / len(lower_education)) * 100
print(percentage_above_50k_low_edu)

17.3713601914639

> # *minimum number of hours a person works per week?*

In [26]:
min_num_of_hrs = df['hours-per-week'].min()
print(min_num_of_hrs)

1

> # *people who work the minimum number of hours per week have a salary of more than 50K?*

In [27]:
min_hr_more_then_50k = df[(df['hours-per-week'] == min_num_of_hrs) & (df['salary'] == '>50K')]
min_hr =  df[(df['hours-per-week'] == min_num_of_hrs)]


min_hr_more_then_50k_percent = (len(min_hr_more_then_50k)/len(min_hr)) * 100
print(min_hr_more_then_50k_percent)
print(len(min_hr))

10.0
20

> # *What country has the highest percentage of people that earn >50K and what is that percentage?*

In [28]:
all_countries = list(df['native-country'].drop_duplicates())
print(all_countries)

['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico', 'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'China', 'Japan', 'Yugoslavia', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago', 'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary', 'Holand-Netherlands']

In [29]:
percent_per_population = []
total_population = []
salary_above_50k = []
for i in all_countries:
    people_above_50k = len(df[(df['native-country'] == i) & (df['salary'] == '>50K')])
    total_people_per_country = len(df[df['native-country'] == i])
    
    if total_people_per_country == 0:
        percentage_of_peoples = 0
    else:
        percentage_of_peoples = (people_above_50k / total_people_per_country) * 100
        
    percent_per_population.append(percentage_of_peoples)
    total_population.append(total_people_per_country)
    salary_above_50k.append(people_above_50k)
    
#print(countries_above_50k_list)

In [30]:
countries_above_50k = pd.DataFrame({
    'percent_per_population': percent_per_population,
    'total_population': total_population,
    'salary_above_50k': salary_above_50k
}, index = [all_countries])
#print(countries_above_50k)

In [31]:
top_country = countries_above_50k['percent_per_population'].idxmax()[0]
print(top_country)
top_country_value = countries_above_50k['percent_per_population'].max()
print(top_country_value)

Iran
41.86046511627907

> # *the most popular occupation for those who earn >50K in India.*

In [32]:
indian_above_50k = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
print(indian_above_50k['occupation'].value_counts().idxmax())

Prof-specialty